body{
    display: grid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(rgb(22, 22, 22) 50%, rgb(0, 109, 0) 50%);
    height: 100vh;
}

h1{
    color: white;
}

.convertTable{
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    gap: 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.514);
}

#inputMoeda{
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: lightgray;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.514);
}

#convertBtn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


#moedasExit{
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;

}

#moedasInp{
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
}

#result{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;

}

#separador{
    display: flex;
    gap: 10px;
}
